.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100dvb;
}

.visual-settings {
  position: absolute;
  inset-inline-end: 1rem;
  inset-block-start: 1rem;
}

.login-card {
  display: grid;
  gap: 1.25rem;

  width: min(90%, 30rem);
}

.login-submit {
  text-align: center;
}

.login-code-resend {
  p {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
