.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100dvb;
}

.visual-settings {
  position: absolute;
  inset-inline-end: 1rem;
  inset-block-start: 1rem;
}

.login-card {
  --_background: var(--color-surface-container-low);

  padding-inline: 1.25rem;
  padding-block: 1.5rem;

  background-color: var(--_background);
  box-shadow: var(--elevation-1);

  display: grid;
  gap: 1.25rem;

  width: min(90%, 30rem);
  border-radius: var(--radius);
}

.login-submit {
  text-align: center;
}

.login-code-resend {
  p {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
